body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #3D5ECC;
}

.container {
    width: 800px;
    margin: auto;
    text-align: center;
}

.search {
    padding: 30%;
}

.random {
    margin-bottom: 10px;
}
a {
    color: #fff;
    text-decoration: none;
}

.btn-random:hover {
    color: grey;
}
input {
    font-size: 20px;
    width: 200px;
    padding: 12px 20px;
    margin: 5px 5px;
    background-color: #3D5ECC;
    border: 2px solid white;
    border-radius: 10px;
    color: white;    
}
input:focus {
    color: #fff;
}
.search-header {
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-bottom: 2px solid white;
}

/* Search results */
.res-link:hover {
    color: grey;
}
.res-box {
    padding: 30px 50px;
    margin: 10px;
    text-align: left;
    background-color: white;
    color: #3D5ECC;
}
.res-title {
    font-size: 30px;
    margin-bottom: 10px;
}
